<%= form_tag("/people/#{params[:id]}", method: :put) do %>

    <label>Person Name:</label><br>
    <%= text_field_tag :name %><br>

    <label>Person's Favorite City:</label><br>
    <%= text_area_tag :favoriteCity %><br>

    <%= submit_tag "Make New Person" %>
<% end %>
