<!DOCTYPE html>
<html>
  <head>
    <div id="grad1" class="grad1" style="height: 200px; background: lightgreen; /* For browsers that do not support gradients */
      background: -webkit-linear-gradient(white, rgb(102, 255, 102)); /* For Safari 5.1 to 6.0 */
      background: -o-linear-gradient(rgb(102, 255, 102), white); /* For Opera 11.1 to 12.0 */
      background: -moz-linear-gradient(rgb(102, 255, 102), white); /* For Firefox 3.6 to 15 */
      background: linear-gradient(rgb(102, 255, 102), white); /* Standard syntax (must be last) */"></div>
    <title>Sp&#9737;t and Identify</title>
    <%= csrf_meta_tags %>

    <!-- <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %> -->
    <!-- <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %> -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body style="text-align: center">


<br>
<br>
<br>
<br>
<h1 class="title">Sp&#9737;t and Identify Server</h1>
<br>

<h4><a href="https://spotter-client.herokuapp.com/" target="_blank" style="color: #40C67A; font-weight: bold">Client Link to Perform Requests</a></h4>
<br><br>
<br><br>


</body>

</html>
<br>
<br>
<br>
<br>
<footer style="position:fixed; bottom:0; right:0;">
  <a href="https://www.linkedin.com/in/hannahailuredleaf/" target="_blank" style="color: #195E36; position:fixed; bottom:0; right:0;"> &copy; Made with Soul by Hanna Hailu </a>
</footer>
