<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<h1 class="title">Spot and Identify</h1>
<br>

<h4><a href="https://spotter-client.herokuapp.com/">Link to Client to Perform Requests</a></h4>
<br><br>
<br><br>
